.sec1_body {

}

.sec1_bg {

}

.sec1_front {

}

.sec1_front div:first-of-type {
    font-family: 'Motter Corpus Std', sans-serif;
    font-size: 15rem;
    line-height: 16vh;
    text-align: center;
    color: #FFCCBC;
    padding-top: 15vh;
    z-index: 1;
}

.sec1_front div:last-of-type {
    position: relative;
    z-index: 5;

    margin-top: 1vh;

    font-family: 'Motter Corpus Std', sans-serif;

    font-size: 15rem;
    line-height: 16vh;
    text-align: center;

    background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec1_front img{
    width: 90vw;
    height: auto;
    margin-top: -14vh;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 2vw;
    max-width: 2500px;
}